BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 200
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
IncludeCategories:
  - Regex:           '.*libflipper.*'
    Priority:        -1
  - Regex:           '.*'
    Priority:        1
Cpp11BracedListStyle: false
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
KeepEmptyLinesAtTheStartOfBlocks: true
