.DS_Store
*.xcworkspace
*.xcodeproj
!obj-c/*.xcodeproj
obj-c/*.framework
obj-c/build
*.o
*.so
*.a
*.mk
*.pyc
*.elf
*.bin
*.so
*.dylib
!resources/**/*.so
python/flipper
console/flipper
*.swp
.shake
.stack-work
tags
