.DS_Store
.clang_complete
.lock-waf*
.waf*
build/
xcuserdata   
*.module
*.o
*.a
*.pyc
*.elf
*.bin
*.so
*.dylib
*.swp
*.nix
**/.stack-work
.stack-root
**/.hi
.shake
*.jdebug
documentation/book/**
*.dSYM
test
