<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FlipperTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E7F1AAA1DC254190041E048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7F1ABD1DC255330041E048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7F1ACC1DC255D70041E048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7F1AD71DC255F20041E048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
