html,
body {
  font-family: "BlinkMacSystemFont", sans-serif;
  color: #333;
  line-height: 1.60em;
  text-align: justify;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
h1 {
    font-family: "Open Sans", sans-serif;
}
h2 {
    font-family: "Open Sans", sans-serif;
}
h3 {
  margin-top: 2.5em;
}
h4,
h5 {
  margin-top: 2em;
}
.header + .header h3,
.header + .header h4,
.header + .header h5 {
  margin-top: 1em;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
table td {
  padding: 3px 20px;
  border: 1px solid;
}
table thead td {
  font-weight: 700;
}
.sidebar {
  font-family: "Colfax";
  border-right: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 225px;
  overflow-y: auto;
  padding: 10px 20px;
  font-size: 0.875em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}
@media only screen and (max-width: 1060px) {
  .sidebar {
    left: -300px;
  }
}
.sidebar code {
  line-height: 2em;
}
.sidebar-hidden .sidebar {
  left: -300px;
}
.sidebar-visible .sidebar {
  left: 0;
}
.chapter {
  list-style: none outside none;
  padding-left: 0;
  line-height: 2.5em;
}
.chapter li a {
  padding: 5px 0;
  text-decoration: none;
}
.chapter li a:hover {
  text-decoration: none;
}
.chapter .spacer {
  width: 100%;
  height: 3px;
  margin: 10px 0px;
}
.section {
  list-style: none outside none;
  padding-left: 20px;
  line-height: 2.5em;
}
.section li {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page-wrapper {
  position: absolute;
  overflow-y: auto;
  left: 315px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}
@media only screen and (max-width: 1060px) {
  .page-wrapper {
    left: 15px;
    padding-right: 15px;
  }
}
.sidebar-hidden .page-wrapper {
  left: 15px;
}
.sidebar-visible .page-wrapper {
  left: 13%;
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-right: 15px;
  overflow-y: auto;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding-bottom: 50px;
}
.content a {
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content img {
  max-width: 100%;
}
.menu-bar {
  position: relative;
  height: 10px;
}
.menu-bar i {
  position: relative;
  margin: 0 10px;
  z-index: 10;
  line-height: 50px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.menu-bar i:hover {
  cursor: pointer;
}
.menu-bar .left-buttons {
  float: left;
}
.menu-bar .right-buttons {
  float: right;
}
.menu-title {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
hr {
    padding-top: 2%;
    border-color: #eee;
    border-style: none;
    border-bottom-style: solid;
    color: #888;
    border-width: 2px;
}
.menu-bar:hover .menu-title {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-chapters {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50px /* Height of menu-bar */;
  bottom: 0;
  margin: 0;
  max-width: 150px;
  min-width: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.mobile-nav-chapters {
  display: none;
}
.nav-chapters:hover {
  text-decoration: none;
}
.previous {
  left: 5%;
}
.next {
  right: 5%;
}
.theme-popup {
  position: relative;
  left: 10px;
  z-index: 1000;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.7em;
}
.theme-popup .theme {
  margin: 0;
  padding: 2px 10px;
  line-height: 25px;
  white-space: nowrap;
}
.theme-popup .theme:hover:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.theme-popup .theme:hover:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

@media only screen and (max-width: 1250px) {
  .nav-chapters {
    display: none;
  }
  .mobile-nav-chapters {
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    max-width: 150px;
    min-width: 90px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
}
.light {
  color: #333;
  background-color: #fff;
/* Inline code */
}
.light .content .header:link,
.light .content .header:visited {
  color: #333;
  pointer: cursor;
}
.light .content .header:link:hover,
.light .content .header:visited:hover {
  text-decoration: none;
}
.light .sidebar {
  background-color: #fafafa;
  color: #364149;
}
.light .chapter li {
  color: #aaa;
}
.light .chapter li a {
  color: #364149;
}
.light .chapter li .active,
.light .chapter li a:hover {
/* Animate color change */
  color: #008cff;
}
.light .chapter .spacer {
  background-color: #f4f4f4;
}
.light .menu-bar,
.light .menu-bar:visited,
.light .nav-chapters,
.light .nav-chapters:visited,
.light .mobile-nav-chapters,
.light .mobile-nav-chapters:visited {
  color: #ccc;
}
.light .menu-bar i:hover,
.light .nav-chapters:hover,
.light .mobile-nav-chapters i:hover {
  color: #333;
}
.light .mobile-nav-chapters i:hover {
  color: #364149;
}
.light .mobile-nav-chapters {
  background-color: #fafafa;
}
.light .content a:link,
.light a:visited {
  color: #4183c4;
}
.light .theme-popup {
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}
.light .theme-popup .theme:hover {
  background-color: #e6e6e6;
}
.light .theme-popup .default {
  color: #ccc;
}
.light blockquote {
  margin: 20px 0;
  padding: 0 20px;
  color: #333;
  background-color: #f2f7f9;
  color: #333;
  padding-top: 2px;
  border-left: 0.3em solid #e1edf1;
  padding-bottom: 2px;
}
.light table td {
  border-color: #f2f2f2;
}
.light table tbody tr:nth-child(2n) {
  background: #f7f7f7;
}
.light table thead {
  background: #ccc;
}
.light table thead td {
  border: none;
}
.light table thead tr {
  border: 1px #ccc solid;
}
.light :not(pre) > .hljs {
  display: inline-block;
  vertical-align: middle;
  padding: 0.1em 0.3em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.light pre {
  position: relative;
}
.light pre > .buttons {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #364149;
  cursor: pointer;
}
.light pre > .buttons :hover {
  color: #008cff;
}
.light pre > .buttons i {
  margin-left: 0px;
}
.light pre > .result {
  margin-top: 10px;
}
